@tailwind base;
@tailwind components;
@tailwind utilities;

/* alguns navegadores definem uma largura mínima para alguns elementos, */
/* logo, é válido zerar isso no css global */
* {
  min-width: 0;
}

input {
  color-scheme: dark;
}

.rdp-root {
  --rdp-accent-color: #bef264;
  --rdp-accent-background-color: #bef264;
}
